
body {
    color: black;
    background-color: grey;
    text-align: center;
}


h1, h2, h3, p {
    color: black; /* Red text color */
    background-color: grey; /* Black background color */
    text-align: left;
}


.black-border {
  border: 2px solid #000; /* Black border with 2px thickness */
  padding: 5px; /* Optional: Add padding to give some space between text and border */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px; /* Optional: Adjust spacing between menu items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last menu item */
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Link color */
}
